{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        {% for data in article_data %}
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="{% url 'article' data.id %}" class="card-link">
                    <img class="card-img-top" src="{{data.image}}" alt="Card image cap"
                        style="width: 100%; height: 200px;">
                </a>
                <div class="card-body" style="height: 100px; overflow: hidden;">
                    <p class="card-text">{{data.title}}</p>
                </div>
                <div class="card-body">
                    <small>{{data.date}}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}